<h1><%= @machine.location %> Vending Machine</h1>

<p><% @machine.snacks.each do |snack| %><p>
    <%= snack.name %>
    <%= snack.price %>
<% end %>

<p> Average Price: <%= @machine.snacks.average_price.round(2) %> </p>
